<div class="container mt-3">
  <div class="row">
    <div class="col">
      <%= link_to cocktails_path do %>
        <i class="fas fa-undo"></i> Back to cocktails
      <% end %>
    </div>
  </div>
</div>
