<div class="banner d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://static1.villaschweppes.com/articles/1/49/09/1/@/352763-le-cocktail-gimlet-opengraph_1200-2.jpeg);">
  <div class="container">
    <h1>Mister Cocktails</h1>
    <p>Find the best cocktails recipes of the world</p>
    <%= link_to "I'm an adult", cocktails_path, class:"btn btn-flat" %>
    <%= link_to "I'm not an adult", "https://www.gulli.fr/", target:"_blank", class:"btn btn-danger" %>
  </div>
</div>
